deepnote/deep_learning/perceptron.csv
deep_learning/perceptron.csv
deep_learning/datacuacaJuni.csv
deep_learning/datacuacaMei.csv
penelitian_Pak_Ikhsan/perbandingan_model_time_series.png
/deepnote/plots
deepnote/meteo_analysis/meteo_data_id-03.csv
deepnote/meteo_analysis/meteo_data_id-05.csv
deepnote/weather_data_csv/weather_data_id-03.csv
deepnote/weather_data_csv/weather_data_id-05.csv
output.png
